*{
text-align:center; display: block; font-size: 20px; font-family: Times New Roman, Times, serif;
}
USN{
color: black;

font-size: 30px;

margin-top: 20px;
}

NAME{

color: blue; font-size: 20px;
}

COLLEGE {

color: red; font-size: 20px;
}

programme
{

color: purple; font-size: 20px;
}

YEAR {
color: green;

font-size: 20px;
}